<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Image Manipulation Reference Implementation</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.17/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.17/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
  </head>
  <body>
    <div id="app">
      <v-layout class="rounded rounded-md">
        <v-navigation-drawer permanent>
          <v-expansion-panels dense variant="accordion">
            <v-expansion-panel title="RGB Algos">
              <v-expansion-panel-text dense>
                <v-list dense>
                  <v-list-item title="Invert" @click="rgbAlgo('invert')"></v-list-item>
                  <v-list-item title="Grayscale" @click="rgbAlgo('toGrayscale')"></v-list-item>
                  <v-list-item title="Blur" @click="rgbAlgo('convolution', 'blur')"></v-list-item>
                  <v-list-item title="Motion blur" @click="rgbAlgo('convolution', 'motion-blur')"></v-list-item>
                  <v-list-item title="Sharpen" @click="rgbAlgo('convolution', 'sharpen')"></v-list-item>
                  <v-list-item title="Emboss" @click="rgbAlgo('convolution', 'emboss')"></v-list-item>
                  <v-list-item title="Edge detection" @click="rgbAlgo('convolution', 'edge-detection')"></v-list-item>
                  <v-list-item title="Edge detection - Perwitt horizontal" @click="rgbAlgo('convolution', 'edge-detection-perwitt-horizontal')"></v-list-item>
                  <v-list-item title="Edge detection - Perwitt vertical" @click="rgbAlgo('convolution', 'edge-detection-perwitt-vertical')"></v-list-item>
                  <v-list-item title="Edge detection - Sobel horizontal" @click="rgbAlgo('convolution', 'edge-detection-sobel-horizontal')"></v-list-item>
                  <v-list-item title="Edge detection - Sobel vertical" @click="rgbAlgo('convolution', 'edge-detection-sobel-vertical')"></v-list-item>
                </v-list>
              </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel title="HSL Algos">
              <v-expansion-panel-text>
                <v-list>
                  <v-list-item @click="addHslToSelection(10, 0, 0)">Add Hue</v-list-item>
                  <v-list-item @click="addHslToSelection(-10, 0, 0)">Remove Hue</v-list-item>
                  <v-list-item @click="addHslToSelection(0, 0.01, 0)">Add Saturation</v-list-item>
                  <v-list-item @click="addHslToSelection(0, -0.01, 0)">Remove Saturation</v-list-item>
                  <v-list-item @click="addHslToSelection(0, 0, 0.01)">Add Light</v-list-item>
                  <v-list-item @click="addHslToSelection(0, 0, -0.01)">Remove Light</v-list-item>
                </v-list>
              </v-expansion-panel-text>
            </v-expansion-panel>
          </v-expansion-panels>
          <template v-slot:append>
            <v-card v-if="selectionImgData">
              <v-card-subtitle>Selection</v-card-subtitle>
              <v-card-text>
                <canvas v-draw-image="selectionImgData" style="border: 1px dotted gray; width: 100%"></canvas>
              </v-card-text>
            </v-card>
          </template>
        </v-navigation-drawer>
    
        <v-main style="min-height: 300px;">
          <v-container>
            <v-row>
              <v-col>
                <v-toolbar
                flat
                density="compact"
                :elevation="1"
                >
                  <v-menu>
                    <template v-slot:activator="{ props }">
                      <v-btn icon v-bind="props" :color="actTool.value === 'selection' ? 'primary' : 'default'">
                        <v-icon v-if="selection.actSelectionTool.value === 'rectangle'">mdi-select-drag</v-icon>
                        <v-icon v-if="selection.actSelectionTool.value === 'hsl'">mdi-select-color</v-icon>
                      </v-btn>
                    </template>
                    <v-card min-width="300">
                      <v-card-subtitle>Selection tool</v-card-subtitle>
                      <v-toolbar flat density="compact">
                        <v-btn-toggle v-model="selection.actSelectionTool.value" mandatory>
                          <v-btn icon value="rectangle">
                            <v-icon>mdi-select-drag</v-icon>
                          </v-btn>
                          <v-btn icon value="hsl">
                            <v-icon>mdi-select-color</v-icon>
                          </v-btn>
                        </v-btn-toggle>
                      </v-toolbar>
                      <v-card-subtitle>Selection actions</v-card-subtitle>
                      <v-toolbar flat density="compact">
                        <v-btn icon>
                          <v-icon @click="selection.selectAll">mdi-select-all</v-icon>
                        </v-btn>
                        <v-btn icon>
                          <v-icon @click="selection.dilate">mdi-plus-circle-outline</v-icon>
                        </v-btn>
                        <v-btn icon>
                          <v-icon @click="selection.invert">mdi-select-inverse</v-icon>
                        </v-btn>
                        <v-btn icon>
                          <v-icon @click="selection.deselectAll">mdi-selection-remove</v-icon>
                        </v-btn>
                      </v-toolbar>
                    </v-card>
                  </v-menu>
                  <v-btn icon>
                    <v-icon>mdi-eyedropper-variant</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon>mdi-brush</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon>mdi-palette</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn @click="download">
                    <v-icon>mdi-download</v-icon> Download
                  </v-btn>
                  <v-select
                    style="max-width: 130px;"
                    v-model="toolbar.zoom.value"
                    :items="toolbar.zoomValues"
                    hide-details
                    flat
                    prepend-inner-icon="mdi-magnify-plus-outline"
                  ></v-select>
                </v-toolbar>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="d-flex justify-center align-start">
                <canvas v-if="imgData" ref="drawingCanvas" v-draw-image="imgData" @click="canvasClick" :style="{ transform: `translate(0, -${(100 - parseInt(toolbar.zoom.value)) / 2}%) scale(${parseInt(toolbar.zoom.value.replace('%', '')) / 100})` }"></canvas>
                <input v-else type="file" @change="loadImage">
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-layout>
    </div>
    <script>
      const { createApp, ref } = Vue
      const { createVuetify } = Vuetify

      let imgHandler = null
      let selectionHandler = null
      let rgbManipulation = null
      let hslManipulation = null

      const vuetify = createVuetify()

      const imgData = ref(null)
      const selectionImgData = ref(null)

      const drawingCanvas = ref(null)

      function updateSelectionImgData(selection) {
        for (let idx = 0; idx < selection.length; idx += 1) {
          const imgIdx = idx * 4
          if (selection[idx] === 0) {
            selectionImgData.value.data[imgIdx] = 0
            selectionImgData.value.data[imgIdx + 1] = 0
            selectionImgData.value.data[imgIdx + 2] = 0
            selectionImgData.value.data[imgIdx + 3] = 0
          } else {
            selectionImgData.value.data[imgIdx] = imgData.value.data[imgIdx]
            selectionImgData.value.data[imgIdx + 1] = imgData.value.data[imgIdx + 1]
            selectionImgData.value.data[imgIdx + 2] = imgData.value.data[imgIdx + 2]
            selectionImgData.value.data[imgIdx + 3] = imgData.value.data[imgIdx + 3]
          }
        }
        const temp = selectionImgData.value
        selectionImgData.value = null
        selectionImgData.value = temp
      }
      function selectAll() {
        selectionHandler.selectAll()
      }

      function dilate() {
        selectionHandler.dilate()
      }

      function invertSelection() {
        selectionHandler.invert()
      }

      function deselectAll() {
        selectionHandler.deselectAll()
      }

      function rgbAlgo(algoName, algoParams) {
        const newImgData = rgbManipulation[algoName](imgData.value, selectionHandler.selection, algoParams)
        imgData.value = newImgData
      }

      function addHslToSelection(h, s, l) {
        const newImgData = hslManipulation.addHslaToSelection(imgData.value, selectionHandler.selection, { h, s, l })
        imgData.value = newImgData
      }

      createApp({
        setup() {        
          const imgSrc = ref('./woman-red-hat.jpeg')
          let createSelectionHandler = null
          async function init() {
            imgHandler = await import('./image-handling.js')
            createSelectionHandler = await import('./selection.js')
            rgbManipulation = await import('./rgb-manipulation.js')
            hslManipulation = await import('./hsl-manipulation.js')
          }

          init()

          async function loadImage(event) {
            console.log(event)

            function loadImgFromInput(input) {
              return new Promise(resolve => {
                const img = new Image()
                img.onload = () => {
                  resolve(img)
                }
                img.src = URL.createObjectURL(input.files[0])
              })
            }
            
            // const img = await imgHandler.loadImg(imgSrc.value)

            const img = await loadImgFromInput(event.target)

            const loaderCanvas = document.createElement('canvas')
            loaderCanvas.width = img.width
            loaderCanvas.height = img.height
            const loaderCanvasContext = loaderCanvas.getContext('2d')
            loaderCanvasContext.drawImage(img, 0, 0)
            const loadedImgData = loaderCanvasContext.getImageData(0, 0, img.width, img.height)

            imgData.value = loadedImgData

            const selImg = new ImageData(img.width, img.height)
            selectionImgData.value = selImg
            selectionHandler = createSelectionHandler.default(loadedImgData, updateSelectionImgData)
          }

          const zoom = ref('100%')
          const actTool = ref('selection')
          const actSelectionTool = ref('rectangle')

          let firstCoord = null
          function canvasClick(event) {
            const canvas = event.target
            const bb = canvas.getBoundingClientRect()
            const x = Math.floor( (event.clientX - bb.left) / bb.width * canvas.width )
            const y = Math.floor( (event.clientY - bb.top) / bb.height * canvas.height )

            if (actSelectionTool.value === 'rectangle') {
              if (!firstCoord) {
                firstCoord = { x, y }
              } else {
                selectionHandler.rectangularSelection(firstCoord, { x, y })
                firstCoord = null
              }
            } else {
              selectionHandler.addBasedOnNeighboringHslRange({ x, y })
            }
          }

          function download() {
            let imgData = drawingCanvas.value.toDataURL('image/png')

            const a = document.createElement('a')
            a.href = imgData
            a.download = `test.png`
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }

          return {
            toolbar: {
              zoom,
              zoomValues: ['100%', '75%', '50%', '25%']
            },

            actTool,

            imgData,
            selectionImgData,

            selection: {
              actSelectionTool,

              selectAll,
              dilate,
              invert: invertSelection,
              deselectAll
            },

            rgbAlgo,
            addHslToSelection,

            canvasClick,

            download,

            drawingCanvas,

            loadImage
          }
        },
        directives: {
          'draw-image': {
            created(el, binding, vnode, prevVnode) {
              const imgData = binding.value

              if (!imgData) {
                return
              }

              imgHandler.drawImageToCanvas(el, imgData)
            },
            updated(el, binding, vnode, prevVnode) {
              const imgData = binding.value

              if (!imgData) {
                return
              }

              imgHandler.drawImageToCanvas(el, imgData)
            }
          }
        }
      }).use(vuetify).mount('#app')
    </script>
  </body>
</html>
